.card-img-top {
  border-radius: 50%;
  margin: 1rem;
  align-self: center;
  
}

.card-title {
  text-align: center;
}

.btn {
  font-weight: 550;
}

.btn-index {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 330px;
}

.footer-link {
  color: rgb(179, 179, 179);
  font-weight: 600;
  font-size: small;
  text-align: start;
}

.footer-link:hover {
  color: white;
}

.login-dropdown-header {
  margin-bottom: 2pt;
  margin-top: 2pt;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
}

.add-footer {
  font-weight: 500;
}

.hoverbuttondash {
  transition: all .2s ease;
}

.hoverbuttondash:hover {
  transform: scale(1.05);
}

.btn-serverpicker {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.guild-icon-dashboard {
  border-radius: 50%;
  width: 30pt;
  height: 30pt;
  
}

.guild-text-dashboard {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 140%;
  text-align: center;
  vertical-align: middle;
}

.header-dashboard {
  margin-top: 5pt;
}

.choose-server {
  font-family: "Poppins";
  text-align: center;
  font-weight: 600;
  font-size: 140%;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.nav-item {
  font-size: 8pt;
  font-weight: 600;
}

.btn-header {
  font-size: small;
}

.navbar-brand-img {
  height: 50pt;
  width: 50pt;
  border-radius: 50%;
  display: flex;
}

.navbar-brand {
  padding-right: 10pt;
}

body {
  background-color: rgb(24, 26, 27);
}

.user-avatar {
  height: 20pt;
  width: 20pt;
  margin-right: 4pt;
  border-radius: 50%;
  font-weight: 900;
}

.dropdown-menu {
  background-color: rgb(37, 41, 43);
}

.dropdown-item {
  color: white;
  font-size: 8pt;
  font-weight: 600;
  padding-bottom: 5pt;
  padding-top: 5pt;
}

.nav-link:link:hover {
  color: white;
}